@import './variables.scss';

body {
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
}

.page {
  width: 100vw;
  height: 100vh;
  display: block;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: $background;
}

h1,
h2,
h3 {
  display: inline-flex;
  color: $white;
  font-family: sans-serif;
  font-weight: bolder;
  //font-size: 2.5rem;
  padding: 0.15rem 1rem;
  margin: 0;
  margin-bottom: 0.6rem;
}

h1 {
  font-size: 3rem;
}

p {
  color: $white;
  padding: 0.35rem 1rem;
  margin: 0;
}

a {
  color: $white;

  &:focus {
  	outline: none;
  }
}

.button {
  cursor: pointer;
  display: inline-flex;
  transition: opacity 200ms;
  background: transparent;
  border: none;
  padding: 0.9rem;
  font-size: 1.1rem;
  margin: 1.1rem 2.2rem;
  text-align: center;
  align-items: center;
}

.icon {
  width: 3rem;
  height: 3rem;
  padding: 0.6rem;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.icon-small {
  width: 1.1em;
  height: 1.1em;

  &:focus {
    outline: none;
  }
}

label {
  color: white;
  font-size: 1.1em;
}

.menu {
  margin-top: 1.5rem;
  color: $white;
  display: flex;
  flex-direction: row;
  position: absolute;
  opacity: 0.65;
  align-items: center;
  z-index: 1;
}

.docs {
  margin: 4em 0;

  h2 {
    margin: 0.75em 0;
  }
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 25px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $background;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba($white, 0.25);
    border: 3px solid $background;
    border-radius: 0.6rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-width: 2px;
  }
}
