$black: #242428;
$white: #fcf8ee;
$orange: #ef7c00;
$red: #dd685e;
$green: #63a375;
$blue: #0068b4;

$shadow-small: 0 5px 10px rgba(0, 0, 0, 0.17);
$shadow-hover: 0 10px 20px rgba(0, 0, 0, 0.25);

// This is the average of all the colors
$primary: $blue;
$secondary: #6f9ed4;
$highlight: $orange;
$warning: $red;
$success: $green;

$background: $black;

$rounding: 0.6rem;
