$black: #242428;
$white: #FDFDFF;
$red: #DD685E;
$green: #63A375;

$shadow-small: 0 5px 10px rgba(0,0,0,0.17);
$shadow-hover: 0 10px 20px rgba(0,0,0,0.25);

// NABU colors
$blue1: #0078b8;
$blue2: #005eb8;
$blue3: #005b8c;
// This is the average of all the colors
$blue: #0066ab;

$background: $black;
